/* selector universal */

*{
    padding: 0 auto;
    margin: 0 auto;
}

/* selector de etiqueta */
img {  
    max-width: 100%;  
    height: auto;  
    
}  

/* selectores de ID*/
#contenedor {
    width: 1200px;
    height: 1000px;
    background-color: lightsalmon;

}

#encabezado {
    height: 15%;
    background-color: chocolate;
    margin: lem;
    text-align: center;

}

#menu {
    height: 5%;
    background-color: lightcoral;
    margin: lem auto;
}

#contenido {
    height: 70%;
    width: 61%;
    background-color: coral;
    margin: 0.5% em;
    float: left;

}

#fueraSeccion {
    height: 70%;
    width: 36%;
    background-color: burlywood;
    margin: 0.5 em;
    float: right;
   
}

#pie {
    height: 5%;
    background-color: darkgray;
    border-radius: 1em;
    margin: 1.5em;

}

/* selector de clase */

.texto {
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;

}

.encabezado_articulo {
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;

}

.imagenes {
    display: inline-block;
    margin-left: 4%;
    border-radius: 4px;
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Selector de etiqueta */

ul {
    text-align: center;

}

li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;

}